.module-line {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    margin: 2px 0px;
}

.module-line-beginning {
    display: flex;
    justify-content: flex-start;
}

.module-line-number {
    width: 35px;
}